.about {
  margin-bottom: 100px;
}
.about__text {
  font-weight: 600;
  line-height: 75px;
  font-size: 60px;
  color: #403f3d;
  margin-bottom: 40px;
  span {
    font-style: italic;
    color: #b0907a;
  }
}
.about__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.gallery__column1 img:first-of-type,
.gallery__column2 img:first-of-type {
  margin: 0 0 40px 0;
}
