.favorite {
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}
.favorite__title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #403f3d;
  span {
    color: #b0907a;
  }
}
.favorite-slider__item {
  display: none;
}
.favorite-slider__item--active {
  display: block;
}

.slider-switches__btn {
  padding: 18px;
  background-color: #e1d4c9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #403f3d;
  cursor: pointer;
  top: 50%;
  position: absolute;
  &:hover {
    background-color: #665f55;
    transition: all 0.3s ease-in 0s;
    img {
      filter: brightness(3);
    }
  }
}
.switches-btn__prev {
  left: 0;
}
.switches-btn__next {
  right: 0;
}
.slider__img {
  display: flex;
  justify-content: center;
  img {
    max-width: 480px;
  }
}
.slider-item__description {
  margin: 0 auto;
  max-width: 480px;
  margin-bottom: 40px;
}
.description__title {
  color: #403f3d;
  font-size: 24px;
  line-height: 30px;
}
.description__text {
  font-size: 16px;
  color: #403f3d;
  line-height: 24px;
  margin: 16px 0;
}
.description__price {
  font-size: 24px;
  color: #403f3d;
  line-height: 30px;
}
.slider__controls {
  display: flex;
  justify-content: center;
}
.tab {
  transition: all 0.3s ease-in 0s;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #c1b6ad;
  display: inline-block;
  margin-right: 10px;
}
.tab--active {
  transition: all 0.3s ease-in 0s;
  background-color: #665f55;
}
