.footer__container {
  padding: 100px;
  background-color: #665f55;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.footer__offer {
  max-width: 530px;
  margin: 0 100px 0 0;
  h1 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    color: #e1d4c9;
    margin-bottom: 40px;
  }
  span {
    color: #b0907a;
    font-style: italic;
  }
}
.offer__socials {
  button {
    background-color: #665f55;
    width: 60px;
    height: 60px;
    margin-right: 12px;
    border: 1px solid #c1b6ad;
    border-radius: 50%;
  }
}
.footer__contacts {
  h1 {
    margin-bottom: 40px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #c1b6ad;
  }
  p {
    color: #e1d4c9;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  img {
    margin-right: 8px;
  }
}
