.header__conrainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sections__list {
  display: flex;
  list-style: none;
  a {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-right: 40px;
    color: #403f3d;
    text-decoration: none;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  a {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #403f3d;
  }
  img {
    margin-left: 8px;
  }
}
.header__content {
  padding: 100px;
  background-image: url(/src/img/53de184b52e70f8c6142237a41f29303.jpg);
  border-radius: 40px;
}
.content__offer {
  width: 530px;
}
.offer__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #e1d4c9;
  padding-bottom: 40px;
  span {
    color: #b0907a;
    font-style: italic;
  }
}
.offer__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #e1d4c9;
  padding-bottom: 40px;
}
.offter__btn {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  background-color: #e1d4c9;
  min-width: 200px;
  color: #403f3d;
  border-radius: 100px;
  height: 64px;
  border: 1px #e1d4c9 solid;
}
