.header {
  margin-bottom: 20px;
}
.header__conrainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.link {
  color: #403f3d;
  text-decoration: none;
}
.sections__list {
  display: flex;
  list-style: none;
  a {
    font-weight: 600;
    margin-right: 40px;
  }
}

.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  a {
    font-weight: 600;
  }
  img {
    margin-left: 8px;
  }
  span {
    bottom: -4px;
    position: absolute;
    border: 2px solid #403f3d;
    width: 72px;
    left: 0;
  }
}

.content__offer {
  width: 530px;
}
.offer__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 600;
  color: #e1d4c9;
  padding-bottom: 40px;
  span {
    color: #b0907a;
    font-style: italic;
  }
}
.offer__text {
  font-size: 16px;
  line-height: 24px;
  color: #e1d4c9;
  padding-bottom: 40px;
}
.offter__btn {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;

  background-color: #e1d4c9;
  min-width: 200px;
  color: #403f3d;
  border-radius: 100px;
  height: 64px;
  border: 1px #e1d4c9 solid;
}
.header__burger {
  display: none;
}
.header__burger {
  display: block;
  border: 1px solid #403f3d;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: relative;
  cursor: pointer;
}
.header__burger::before,
.header__burger::after {
  border: 1px solid #403f3d;
  border-radius: 40px;
  width: 16px;
  content: "";
  position: absolute;
  right: 12px;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 15px;
}
.header__burger::after {
  bottom: 15px;
}
.header__burger--active::before {
  transform: rotate(50deg);
  top: 20px;
}
.header__burger--active::after {
  transform: rotate(-50deg);
  bottom: 20px;
}
.header__sections {
  display: none;
}
.header__menu {
  display: none;
}
.burger__menu {
  display: none;
  transition: left 0.3s ease;
  padding: 60px 40px 384px 40px;
}
.burger__menu--active {
  display: block;
  left: 0;
}
.burger-menu__sections {
  text-align: center;
}
.sections-list__link {
  list-style: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 60px;
}
.burger-menu__menu {
  position: relative;
  margin-top: 100px;
  text-align: center;
  a {
    line-height: 40px;
    font-size: 32px;
    font-weight: 600;
    color: #403f3d;
  }
  a::after {
    content: url(/src/icon/coffee-cupBig.svg);
    position: relative;
    top: 5px;
    left: 15px;
  }
}
